body {
    font-family: Arial, sans-serif;
    margin: 1px;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px 20px;
}

.logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    position: relative;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

.nav-links a:hover,
.dropdown:hover .dropbtn {
    background-color: #555;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    padding: 10px 20px;
}

.dropdown-content a:hover {
    background-color: #555;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media (max-width: 768px) {
    .nav-links {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .nav-links li {
        text-align: center;
    }

    .nav-links.show {
        display: flex;
        flex-direction: row;
    }
}