
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #131313;
}

.moving-box {
    width: 100px;
    height: 80px;
    background-color: #e80646;
    position: absolute;
    top: 20%;
    left: 10%;
    animation: moveBox 10s linear infinite;
}

@keyframes moveBox {
    0% {
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    50% {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    100% {
        left: 100%;
        top: 50%;
        transform: translate(-100%, -50%);
    }
}
