* {
    box-sizing: border-box;
}

h1 {
    color: rgb(46, 46, 49);
    text-align: center;
}

.intro {
    font-size: 18px;
    color: rgb(15, 64, 213);
}

#main {
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: lightyellow;
}

a[href^="https://"] {
    color: orange;
}


p, li {
    font-family: Arial, sans-serif;
}


p ~ a {
    display: block;
    margin-top: 10px;
}

input[type="text"] {
    border: 2px solid #0fe347;
    padding: 5px 10px;
    margin: 10px 3px;
    box-sizing: border-box;
    background-color: rgb(226, 16, 107);
}

input[type="email"] {
    border: 2px solid #0c23d0;
    padding: 5px 10px;
    margin: 10px 3px;
    box-sizing: border-box;
    background-color: rgb(237, 184, 10);
}
}

