body{
    background-color: rgba(42, 44, 37, 0.51);
}

section.main-box{
   background-color: rgb(235, 235, 73);
   /*width: 1200px;*/
}

section.main-box article.inner-box{
    display: flex;
    /*flex-wrap: wrap;*/
    width: auto;
    height: auto;
    background-color: rgba(242, 234, 234, 0.338);
}

section.main-box article.inner-box .inner-item-box{
    width: 700px;
    height: auto;
    margin: 2px;
    border: 4px solid;
    color: rgba(19, 18, 18, 0.87);
}


section.main-box article.inner-box .inner-item-box .image-box{
    width: 280px;
    height: 150px;
    border: 4px solid;
    color: blue;
    overflow: hidden;
    text-align: center;
}

/*section.main-box article.inner-box .inner-item-box .image-box img.image-item {
    width: 100%;
    height: 100%;
    background-size: cover;*/

section.main-box article.inner-box .inner-item-box .content-box {
    width: 100%;
}

/*section.main-box article.inner-box .inner-item-box-1 {
    border: 1px solid #5ce63d;
    background-color: #342827;
    color: #de2510;
}

section.main-box article.inner-box .inner-item-box-2 {
    border: 1px solid #145A32;
    background-color: #E9F7EF;
    color: #27AE60;
}

section.main-box article.inner-box .inner-item-box-3 {
    border: 1px solid #1B4F72;
    background-color: #EAF2F8;
    color: #2980B9;
}*/