body{
    display: grid;
    grid-template-columns: max-content;
    margin: 5px;
    padding: 8px;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 600;
    font-size: 2rem;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(9, 9, 9);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

